body{
    margin: 0;
    padding: 0;
    background:  hsl(47, 88%, 63%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 

    font-family: "Figtree", sans-serif;
}

.container{
    background-color: white;
    padding: 20px;
    width: 90%;
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 10px 8px 0px black;
    
}


.cabessalho img{
    width: 100%;
    border-radius: 10px;
}

.section{
    margin-top: 15px;
}

.section h5{
    font-weight: bold;
    background-color: hsl(47, 88%, 63%);
    display: inline;
    padding: 8px;
    border-radius: 5px;
}

.section p{
    color: hsl(0, 0%, 3%);
    font-size: 0.8em;
    line-height: 1.5em;
}

.section1 h3{
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px 0 5px 0;
}

.section1 h3:hover{
    color:  hsl(47, 88%, 63%);
    transform: scale(1.05);
}

.section1 p{
    color: hsl(0, 0%, 42%);
    font-size: 0.9em;
    font-weight: bold;
    

    
}

footer{
    display: flex;
}

footer img{
    width: 30px;
    height: 30px;
}

footer h3{
    margin: 10px 0 0 13px;
    font-size: 0.9em;
}



/* Media query para telas menores que 400px */
@media (max-width: 400px) {
    .container {
        padding: 15px;   /* reduz padding */
    }
    .section1 h3 {
        font-size: 1.2em;
    }
    .section1 p {
        font-size: 0.85em;
    }
    footer h3 {
        font-size: 0.8em;
    }
}